---
layout: page
---

<div class="tw-container tw-mx-auto tw-py-8 tw-px-4">
  <ul class="post-list tw-space-y-4">
    {% for post in page.category_list %}
    <li class="single-post tw-bg-white dark:tw-bg-gray-800 tw-shadow-md tw-rounded-lg tw-p-4 tw-transform tw-transition-transform tw-duration-300 hover:tw-shadow-lg hover:tw-scale-105">
      <article class="tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-gap-4">
        <!-- Post Title and Tags -->
        <div class="md:tw-col-span-3">
          <div class="tw-mb-2">
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" 
               class="tw-text-xl tw-font-semibold tw-text-yellow-600 hover:tw-underline dark:tw-text-yellow-400">
              {{ post.title }}
            </a>
          </div>
          <div class="tw-flex tw-flex-wrap tw-gap-2">
            {% for tag in post.tags %}
              <span class="tag tw-inline-block tw-bg-yellow-500 tw-text-white tw-rounded-full tw-px-3 tw-py-1 tw-text-sm">
                {{ tag }}
              </span>
            {% endfor %}
          </div>
        </div>

        <!-- Date -->
        <div class="date-show tw-text-sm tw-text-right tw-text-gray-600 dark:tw-text-gray-300">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            <i class="fa fa-calendar"></i> 
            <span class="tw-text-yellow-500 dark:tw-text-yellow-400">{{ post.date | date: "%B %d, %Y" }}</span>
          </time>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
